<h5>Lista de Tareas</h5>
<hr />
<p class="text-right">
    <button type="button" class="btn btn-primary" (click)="redirectNewTask()">
      <i class="fas fa-plus"></i> Nueva tarea
    </button>
</p>

<nav class="navbar bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand">Filtrar por Categoría</a>
    <div class="d-flex" role="search">
      <select class="form-select mb-4" [(ngModel)]="categoryselected">
        <option value="0">Todas</option>
        <option *ngFor="let category of categories; let i=index" [value]="category.id">{{ category.name }}</option>
      </select>
      <button class="btn btn-outline-success mb-4" (click)="filtrar()">Filtrar</button>
      <button class="btn btn-outline-success mb-4" (click)="limpiarfiltro()">Limpiar</button>
    </div>
  </div>
</nav>

<table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Nombre</th>
        <th scope="col">Categoría</th>
        <th scope="col">Fecha límte</th>
        <th scope="col">Es Completada</th>
        <th scope="col">Editar</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let task of tasks; let i=index">
        <th scope="row">{{ i + 1 }} </th>
        <td>{{ task.name }}</td>
        <td>{{ task.category?.name }}</td>
        <td>{{ task.deadline | date }}</td>
        <td>{{ task.iscompleted }} </td>
        <td>
          <button type="button" class="btn btn-outline-primary" (click)="redirectUpdateTask(task.id)">
            <i class="fas fa-edit"></i>Editar
          </button>

            <!-- Button trigger modal -->
            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal" (click)="setInfoModal(task.id,task.name)">
              <i class="fas fa-trash"></i>Eliminar
            </button>

        </td>
      </tr>
    </tbody>
  </table>
  
  <hr />

  <div [ngClass]="classalert" role="alert" *ngIf="showalert">
    {{messagealert}}
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>


<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Confirmación</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        {{messagemodal}}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
        <button type="button" class="btn btn-primary" data-bs-dismiss="modal" (click)="deleteTaskById()">Eliminar</button>
      </div>
    </div>
  </div>
</div>